body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana; 
    text-align: center;
}
.divclass {
    background-color:white;
    color:black;
    width:inherit;
    padding:50px;
    border-radius:25px;
}
footer{
    text-align: center;
    padding-right: 200px;
}
